{% extends "deepgo/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <h1>DeepGO Protein Function prediction. <br/> Submit your protein sequences and get their functions!</h1>
    <br/>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form class="form" method="post">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group {% if field.errors %}has-error{% endif %}">
        {% render_field field class+="form-control" placeholder=field.label %}
        {{ field.errors }}
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h2>Example queries:</h2>
    <h2>Raw sequence</h2>
    <code class="deepgo-sequence">MMYHPLQNHDHPAKPLVRRRLTKLLISVTVQGRVGSVQMIMSSENTVGQLIKAVLEVYQKERRRPLLSQNNNHPSCFELHYSPFSLQMFDSAMVKKKITKKAVDAEEDIGGSIGEYRYKSPSRGKAMGKEPAKGKTVPKKSRTVLEKDKPESKTVKAKTVPKKAKAESQKIKAAPKKSKIVSKKAKTVADSKLQVVSNSDSDTVVPHTLEFMLSTFSPDKKKAVEEIGFGGLLHLKLKTLNRQMLHWLVEHFNGGSCMFTIAAGKEFVVTKNDICDVFGLPMSEIVVLELQKNPEEGSVDKRIIQSWRLDYGLTEKQPLHLSKEESRMVDLDDGGEEFKRCFVLHAMSSFLAPTTNRTVSLKLLKLLKKLMKSKHLIGEKESSTEKESSTLPLIQHWTDAKIKKRINLEIKAGDFGQGLLDTLTYPISQPQIRDPVVKQTCGQGASTSGRSSRILAFELPENVMTDDEIKEISTDSQGFQALSDMISSRRTVSLSSDDAVAISQTQQLLSDPHYLKLLDGLIEECNKMKFVHELLRDFYEPEGHNNDVPGDENAQNLNLNRSEDDVNGNGKGVVMNRSEDDVNGNAGPSANARIFKNLPKLHLEILDYCLVKDDSMMRNENLVTFGMNFLIPREDMVALVAPLRIRWCIIDCYCLYLNEKACFDSGPRKFFFGVRQSFAFLHICENIGKGDISQAVNDLHDLWEGWVSYENPECDIMDAELIYFPVLVENHYILFVIDHTKEVCDQMGVFLGKRNHPKSSQLPSYGFQIVELEWRKEKVDNLDCGVFVMYHMLHFVGESFKLNELKTVIIHLFCL</code>
    <code class="deepgo-sequence">MAFSAEDVLKEYDRRRRMEALLLSLYYPNDRKLLDYKEWSPPRVQVECPKAPVEWNNPPSEKGLIVGHFSGIKYKGEKAQASEVDVNKMCCWVSKFKDAMRRYQGIQTCKIPGKVLSDLDAKIKAYNLTVEGVEGFVRYSRVTKQHVAAFLKELRHSKQYENVNLIHYILTDKRVDIQHLEKDLVKDFKALVESAHRMRQGHMINVKYILYQLLKKHGHGPDGPDILTVKTGSKGVLYDDSFRKIYTDLGWKFTPL</code>
    <!--<h2>FASTA</h2>
    <code class="deepgo-fasta">
    >sp|P0C9G2|1101L_ASFK5 Protein MGF 110-1L OS=African swine fever virus (isolate Pig/Kenya/KEN-50/1950) GN=Ken-007 PE=3 SV=1 <br/>
MLGLQIITLLFIPTLLYAYELEPLERTETPLEKELGYWCTYANHCSFCWDCQDGICRNKA<br/>
FKNHSPILENDYIANCSVYRRNDFCIYYITSIKPHKIYRTECSEHLSHEWHEAVIRKWQK<br/>
LLTYGFYLVGCVLVVNYIRKRSLQTIVYLLVLLVIFFLLSQLMLYRELEDKKHKTGSIPP<br/>
ERELEHWCTHGKYCNFCWDCQNGICRNKVFKNHPPIGENDFIRYDCWTTHLLNKCYYEKI<br/>
YKHFNTHIMECSQPTHFKWYDNLMKKQDIM<br/>
</code>
    <code class="deepgo-fasta">
    >sp|Q6GZR8|057R_FRG3G Putative phosphotransferase 057R OS=Frog virus 3 (isolate Goorha) GN=FV3-057R PE=4 SV=1<br/>
MAMVSNVKYFADALQGTQGKVGTFTVLGENVFFKRGDGTDTVCGLEMVAGRILRARSDVH<br/>
FCEPKYFVEMDDGEKVCSFELLDCKPLGSMAPGRKGKKSVGSVTQYLSGLYQTFAAAAAA<br/>
HSVGVVHSDLHTGNVMLCPEPVSHYVYNLGGGEMLSLETNGVRAVVVDLGMARIPGKNTV<br/>
ACDIFVHVGHVVNGRPDYAADVRTLTLGSCYDMVMMCASGKPSLEERMLCYEVMAAYNNL<br/>
FAGVCAPSKGGWFVDHYPSMCAVMEATIPDSVASRGGGSWLLAVANMCKLLVPRPYVKRA<br/>
CGKEKAHAMWMTLFTELGLTAKKSISKVDMVDAVQRLRAIADGSEIPPASLMKAACAVGL<br/>
LTASVAEACYEKVEEIKASHVGMLRWKDALDAWVRLPVRCSGSVPKLGSTVILHTESGTE<br/>
ETVVTQSMLRQIVKTREALDMAQAASDAVWTDTAYYEADDELMKGAHEESAEDFATSFLK<br/>
GGTTGPIAKRCRLILKSL<br/></code>
  </div>
  -->
</div>

{% endblock %}
