{% extends "deepgo/base.html" %}
{% load widget_tweaks %}

{% block content %}
{% for pred in object.predictions.all %}
  <div class="row">
    <div class="col-md-6 sequence">
      {% if pred.protein_info %}{{ pred.protein_info }} <br/> {% endif %} {{ pred.sequence }}
    </div>
    <div class="col-md-6">
      <ul class="list">
      {% for function in pred.function_names %}
        <li>{{ function.0 }} - {{ function.1 }}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endfor %}
<br/>
<div class="row">
  <a href="{% url 'prediction' %}" class="btn btn-primary">New prediction</a>
</div>
{% endblock %}
