venv/
*.pyc
deepgoweb/media
deepgoweb/public
models/
# …but the small bundled DeepGO-PlusPlus-Light integrator JSONs are part of the source.
!deepgoweb/apps/deepgo/dgpp/models/
!deepgoweb/apps/deepgo/dgpp/models/*.json
data/
data-*/
*.gz
*~
.yarn-integrity
yarn.lock
sparql/build/
sparql/.gradle/
