amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
Django==1.9.7
django-allauth==0.25.2
django-celery==3.1.17
django-configurations==1.0
Keras==1.0.4
kombu==3.0.35
numpy==1.11.0
oauthlib==1.1.2
protobuf==3.0.0b2
psycopg2==2.6.1
python-openid==2.2.5
pytz==2016.4
PyYAML==3.11
requests==2.10.0
requests-oauthlib==0.6.1
scipy==0.17.1
six==1.10.0
tensorflow==0.8.0
Theano==0.8.2
