{% load i18n %}

<div id="CookielawBanner">
  <div class="row" role="alert" data-autohide="false">
    <div class="col-md-12">
      <h3><strong>Cookie Warning</strong></h3>
      <p>
        This website stores data such as cookies to enable site functionality. By using this website, you automatically accept that we use cookies. 
      </p>
      <div class="ml-auto">
        <a type="button" class="btn btn-warning"
           href="javascript:Cookielaw.createCookielawCookie();">
          Accept
        </a>
      </div>
    </div>
  </div>
</div>
