{% load i18n %}

<div id="CookielawBanner">
  <div class="row" role="alert" data-autohide="false">
    <div class="col-md-12">
      <h3><strong>Cookie Warning</strong></h3>
      <p>
        This site uses cookies. Only cookies essential for site operation are used. These cookies keep track of sessions and are deleted when the session ends. 
      </p>
      <div class="ml-auto">
        <a type="button" class="btn btn-warning"
           href="javascript:Cookielaw.createCookielawCookie();">
          Accept
        </a>
      </div>
    </div>
  </div>
</div>
